.card {
  min-width: 18.5rem;
  padding: 0;
  .header {
    background-color: #64EBA9;
    color: rgba(71, 71, 71, 0.737);

    #office{
      margin-bottom: -1.20em;
      color: rgba(71, 71, 71, 0.737);
    }
  }
  .fallback {
    height: 20rem;
  }
}
